body {
	background-color: #E0BDEE;
	text-align: center;
	font-family: "Times New Roman";
}

button {
  background-color: white; 
  border: none;
  border-radius: 8px;
  color: #55D2B0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

table {
  	border: 5px solid black;
  	border-radius: 8px;
  	text-align: center;
}

td {
	border: 1px solid black;
	text-align: center;
}

th {
	border: 2px solid black;
	text-align: center;
}


.topnav a {
  float: center;
  background-color: white;
  color: black;
  border-radius: 8px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: black;
}